{% extends 'base.twig' %}

{% block body %}
<h3 class="mb-3 mt-3">Blog</h3>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      {% include 'section/posts.twig' with posts %}
      <div class="row">
        {% include 'section/pagination.twig' with pagination %}
      </div>
    </div>
    <div class="col-md-3">
      {% include 'section/about.twig' %}
    </div>
  </div>
</div>
{% endblock %}
